<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Persist Security Info = False;
                                                        User ID = sa;
                                                        Password = Shag1115;
                                                        Initial Catalog = NORTHWNDSDP-162;
                                                        Data Source = SQL"/>
  </connectionStrings>
</configuration>